@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
}

.navbarContainer{
    background-color: #010106;
    display: flex;
    justify-content:space-between;
    padding: 1.2% 2.4% 1.2% 2.4%;
    height: 100vh;
    flex-direction: column;
}

.navbarKiri{ /* atas  */
    display: flex;
    height: 10%;
}

.navbarKanan{ /* bawah  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    
}

.itemsNavbar{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    row-gap: 10px;
    flex-direction: column;
    overflow-y: auto;
}

.itemsNavbar li{
    align-items: center;
    display: flex;
    justify-content: center;
}

.items{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #ffffff;
}

p{
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.generateSchedule{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.generateSchedule p{
    color: #010106;
}

.rightGen{
    margin-top: 30px;
    margin-left: 40vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

.seatButton {
    width: 4.5vw;
    border-radius: 0%;
    margin: 2px;
}

.totalPrice {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

.selectedSeatsTicket{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.movieDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    flex-direction: column;
}

.movieReceipt{
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.receipt{
    margin-top: 30px;
    /* margin-left: 20vw; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    width: 80vw;
}

.bigContainerReceipt{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    justify-content: center;
}